nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(213, 198, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: #b4cbfd;
    text-align: center;
    padding: 20px;
  }


.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    
}

li {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:  bold;
    font-size: 12px;

}

a:hover {
    background-color: rgba(69, 38, 99, 0.767);
    color: white;
}

.moodbtn {
    color: black;
    columns: 6;
    size: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: space-around;
}

.moodlist {
    display: inline-block;
    position: relative;
    text-align: center;
    
}