nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(213, 198, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}

h4 {
    text-align: center;
}

.question {
    text-align: center;
    align-items: center;
    margin: auto;
}

.header {
    background-color: #b4cbfd;
    text-align: center;
    padding: 20px;
  }


.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    
}

li {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:  bold;
    font-size: 12px;

}

a:hover {
    background-color: rgba(69, 38, 99, 0.767);
    color: white;
}

.columnA {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}

.columnB {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.moodbtn {
    color: black;
    columns: 6;
    size: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: space-around;
}

.moodlist {
    display: inline-block;
    position: relative;
    text-align: center;
    
}

.processButton {
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color:#b4cbfd;
    color: black;
}

.background {
    background-image: url("background.gif.jpg");
    background-repeat: no-repeat;
    background-size: 450px, 400px;
    background-position: center


}